<section class="dynamic_bg relative">
  <div class="container split_content_video lg:px-8">

    <div class="split_content_video__content px-6 pb-24 pt-10 sm:pb-32 lg:px-0 lg:pb-56 lg:pt-48">
      <div class="mx-auto max-w-2xl lg:mx-0 animation_titleContainer">

          {% for video in block.svg_inline.all() %}
               {{ svg(video)|attr({
                         class: 'h-11 fill-current text-accent '
               }) }}
          {% endfor %}

          <div class="hidden sm:mt-32 sm:flex lg:mt-16">
          {% for button in block.subtitle_box_pill.all() %}
               {% if button.contentButtonText|length %}
               <div class="box_pill type_xs ring-1 ring-primary-dark/10 hover:ring-primary-dark/20"> 
                    {{ button.contentLinkPrefix }}
                    <a 
                         {% if button.type == "internal" %}
                              href="{{ button.contentPage.one().url }}"
                         {% endif %}
                         {% if button.type == "external" %}
                              href="{{ button.contentUrl }}"
                         {% endif %}
                         class=" whitespace-nowrap font-semibold cursor-pointer text-accent"
                         x-show="shown" x-transition x-transition.delay.10.duration.600>
                         <span class=" absolute inset-0" aria-hidden="true"></span x-show="shown" x-transition x-transition.delay.10.duration.600>
                              {{ button.contentButtonText }}
                         <span aria-hidden="true">&rarr;</span>
                    </a>
               </div>
               {% endif %}
          {% endfor %}
          </div>
          <h1 class="mt-24 type_4xl text-primary-dark sm:mt-10 animation_titleElement">
               {{ block.content_title_plain }}
          </h1>
          <p class=" mt-6 type_lg text-secondary-dark">
               {{ block.content_body_plain }}
          </p>
        <div class=" mt-10 flex items-center gap-x-6 type_xs"> 
          {% include "_components/_shortcuts/neo_button_double.twig" %}
        </div>
      </div>
    </div>

    <div class="split_content_video__video ">
          {% if block.video_max_one|length %}
               {% for video in block.video_max_one.all() %}
                    {% set photoDisplay = video.hero_optimization %}
                         {% include "_partials/video" with {
                              class: 'aspect-[3/2] w-full bg-gray-50 object-cover lg:absolute lg:inset-0 lg:aspect-auto lg:h-full'
                         } %}
               {% endfor %}
          {% endif %}
    </div>

  </div>
</section>